*.vsconfig
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.opendb
*.VC.db
*.DotSettings

/RunFromDangers/Library
/RunFromDangers/Temp
/RunFromDangers/obj
/RunFromDangers/Logs
/RunFromDangers/.vs

